body {
  margin: 0;
  font-family: 'Roboto';
}
#root {
  background: #efefef;
}
.react-interactive-map {
  position: relative;
}
.map-wrapper {
  height: 100vh;
  max-height: 800px;
}
.esri-attribution {
  display: none !important;
}
.esri-popup {
  position: absolute !important;
  bottom: 10px !important;
  left: 10px !important;
}
.esri-popup__pointer {
  display: none !important;
}
