body {
  margin: 0;
  font-family: 'Roboto';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#root {
  background: #efefef;
}
.map-wrapper {
  height: 100vh;
}
.esri-attribution {
  display: none !important;
}
